.DescriptionSection {
    background: linear-gradient(rgba(60, 78, 95, 0.8), rgba(60, 78, 95, 0.8)), url('../Asset/IMG_6992.jpg');
    background-size: cover;
    height: 100vh;
    z-index: -2;
}

.Description {
    position: absolute;
    margin: 20% auto;
    padding-left: 40%;
    width: 50%;
}

p, .Name {
    font-size: 18pt;
    padding: 10px;
    color: white;
}

.Name {
    font-size: 36pt;
}
